{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}
<h1>Create</h1>

<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
  {% csrf_token %}
  Title:
  <br />
  <input type="text" name="title" />
  <br />
  Price:
  <br />
  <input type="textbox" name="price" />
  <br />
  Category:
  <br />
  <input type="text" name="category" />
  <br />
  Description:
  <br />
  <input type="file" name="description" />
  <br />
  Image:
  <br />
  <input type="file" name="image" />
  <br />
  <br />
  <input class="btn btn-primary" type="submit" value="Buy Product" />
</form>

{% endblock %}